@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 50, 50, 50; /* Changed end color for gradient effect */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave 15s linear infinite;
}

.animate-wave-delayed {
  animation: wave 20s linear infinite;
  animation-delay: -5s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
